Flask==2.2.5
numpy==1.23.5
pandas==1.5.3
scikit-learn==1.2.2

dill==0.3.6

xgboost==1.7.5
catboost==1.2

#-e .   # this -e . means to install the current package in editable mode, which allows you to make changes to the code and have them reflected without needing to reinstall the package.
